.login-page{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;  
    .login-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}